@if (Request.IsAuthenticated)
{
    <div id="usuario2">
        @if (Session["UserId"] != null)
        { 
            var Id = Session["UserId"];
            @Html.ActionLink(User.Identity.Name, "CambiarContrasena", "Usuario", new { Id = Id }, htmlAttributes: new { @class = "username", title = "Cambio de contraseña" })
        }
        

    </div>
}
