<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yo Cuido lo Público</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icono_80_80</string>
				<string>icono_58_58</string>
				<string>icono_29_29</string>
				<string>icono_120_120</string>
				<string>icono_114_114</string>
				<string>icono_57_57</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1.38</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Debe acceder a la cámara para obtener información del reporte</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Localización es requerida para saber donde te encuentras</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Localización es requerida para saber donde te encuentras</string>
	<key>PRESGEOServicioGeoInverso</key>
	<string>pec/api/geoinverse/latitude/%f/longitude/%f/process</string>
	<key>PRESGEOServicioGeoReferencia</key>
	<string>pec/api/geodirect/%@</string>
	<key>PRESGEOUrlServidor</key>
	<string>http://servidorweb2.sitimapa.com:8040</string>
	<key>PRESGoogleMapsAPIKey</key>
	<string>AIzaSyAcgoawutT53bPR0aTCiARiEz0Fy4XRGXQ</string>
	<key>PRESImagenAlto</key>
	<string>380</string>
	<key>PRESImagenAncho</key>
	<string>680</string>
	<key>PRESServicioAgregarFoto</key>
	<string>Actualizar/AsociarImagen</string>
	<key>PRESServicioConsultaElefantesPorDeptoYMUnicipio</key>
	<string>Consultar/CuidoLoPublicoPorMunicipio/%@</string>
	<key>PRESServicioConsultarImagenGrande</key>
	<string>Consultar/ImagenCuidoLoPublico/%lld</string>
	<key>PRESServicioConsultarMiElefante</key>
	<string>Consultar/DetalleBasicoCuidoLoPublico/%lld</string>
	<key>PRESServicioConsultarMotivos</key>
	<string>Consultar/MotivosCuidoLoPublico</string>
	<key>PRESServicioConsultarRangosTiempo</key>
	<string>Consultar/RangosDeTiempo</string>
	<key>PRESServicioCrearElefante</key>
	<string>YoCuidoLoPublico/Reportar</string>
	<key>PRESServicioDepartamentosPorRegion</key>
	<string>Consultar/DepartamentosPorRegion/%d</string>
	<key>PRESServicioDetalleElefante</key>
	<string>Consultar/DetalleCuidoLoPublico/%lld</string>
	<key>PRESServicioElefantesPorPosicion</key>
	<string>Consultar/CuidoLoPublicoPorPosicion?latitud=%f&amp;longitud=%f</string>
	<key>PRESServicioElefantesPorRegion</key>
	<string>Consultar/CuidoLoPublicoPorRegion</string>
	<key>PRESServicioMasVotados</key>
	<string>Consultar/CuidoLoPublicoMasVotados</string>
	<key>PRESServicioModificarElefante</key>
	<string>Actualizar/ModificarReporte/%lld</string>
	<key>PRESServicioMunicipiosPorDepartamento</key>
	<string>Consultar/MunicipiosPorDepartamento/%@</string>
	<key>PRESServicioVotoRechazo</key>
	<string>Actualizar/RegistrarVoto/%lld</string>
	<key>PRESUrlServidor</key>
	<string>http://104.197.123.208:80/cuidolopublico/Servicios</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
