<div class="contenedor1">
    <div class="titulo_contenedor">Yo cuido lo público en Colombia</div>
    <div class="mapa_colombia">
       
            <div id="insular_validos">
                <div id="validados_insular"></div>
            </div>
       
     
            <div id="caribe_validos">
                <div id="validados_caribe"></div>
            </div>
        
            <div id="andina_validos">
                <div id="validados_andina"></div>
            </div>
      
            <div id="pacifica_validos">
                <div id="validados_pacifica"></div>
            </div>
        
            <div id="orinoquia_validos">
                <div id="validados_orinoquia"></div>
            </div>
       
            <div id="amazonia_validos">
                <div id="validados_amazonia"></div>
            </div> 
       

    </div>
    <div id="dialog-edit" style="display: none"></div>
    <div id="boton3"><a href="~/Elefantes/MapaPrincipal">Mapa Principal</a></div>
  
</div>