@model ElefantesBlancosDatos.Models.MapaModels
@{
    ViewBag.Title = "MapaPorEstado";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
<div class="body_admin">
    <div class="contenido_body_admin">
        <div class="contenedor_general">

            <div id="container">
                @if (ViewBag.tipomapa == "1")
                { 
                    @Html.Partial("MapaValidados", Model)
                }
                else if (ViewBag.tipomapa == "2")
                {
                    @Html.Partial("MapaPendiente", Model)
                }
                else if (ViewBag.tipomapa == "3")
                {
                    @Html.Partial("MapaImagenes")
                }
                else if (ViewBag.tipomapa == "4")
                {
                    @Html.Partial("MapaInformacion")
                }
            </div>
        </div>
    </div>
</div>
