@{
    ViewBag.Title = "ImageControl";
}

<h2>Control de Imagenes</h2>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Image/GetImages",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    console.log(data.length - 1);
                    $("#slider").ImageSliderControl({
                        sliderbackgroundimage: data[0].Route,
                        sliderPrevIdsliderPrevShow: false,
                        slidernumImages: data.length - 1,
                        sliderTittle: "",
                        sliderPrevImage: "url('../Images/estilos_eb/flecha_izquierda_popup.png')",
                        sliderPrevHoverImage: "url('../Images/estilos_eb/flecha_izquierda_popup.png')",
                        sliderNextImage: "url('../Images/estilos_eb/flecha_derecha_grande.png')",
                        sliderNextHoverImage: "url('../Images/estilos_eb/flecha_derecha_grande.png')",
                        sliderShow: "none",
                        sliderName: "slider",
                        sliderImgClose: "url('../Images/estilos_eb/icono_cerrar_ventana.png')",
                        sliderData: data,
                        sliderImageId: data[0].Id,
                        sliderIsprincipal: data[0].Isprincipal,
                        sliderPreviewControlId: "preview-img",
                        sliderCheckBoxName: "ChkPrincipal",
                        sliderCameraImg: "../Images/estilos_eb/icono_camara_foto_principal.png",
                        sliderControllerUpdate: "/Image/UpdatePrincipalImages"
                    });
                }

            }
        });

    });
</script>
<ul id="preview-img"></ul>
<div id="slider"></div>
 



