@{
    ViewBag.Title = "Administrador";
}


<div class="body_admin">
    <div class="contenido_body_admin">
        <div class="contenedor_general">
            <div class="contenedor1">
                <div class="titulo_contenedor">Ingreso</div>
                <div class="contenido">
                    <h2>Administrador</h2>
                    <p>Desde aquí podra acceder a la administración y edición de gestores y parámetros para la aplicación móvil Yo cuido lo público.</p>
                    <hr />
                          
                    <div id="boton_vertical">
                        <div id="boton3"><a href="~/Usuario/Index">Administrar Gestores</a></div>
                           <div id="boton3"><a href="~/RazonRechazo/Index">Administrar Parámetros</a></div>
                        <div id="boton3"><a href="~/Auditoria/Index">Consulta Auditoría</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
