@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido_body_admin">
    <div class="contenedor_general">
        <p>Seleccione el modo de búsqueda que prefiera. </p>

        <table>
            <tr>
                <td>
                    <div id="seleccion_busqueda">
                        <a href="~/Elefantes/MapaPrincipal">
                            <img src="../images/estilos_eb/boton__busqueda_mapa.png" width="272" height="281" /></a>
                    </div>
                </td>
                <td>
                    <div id="seleccion_busqueda">
                        <a href="~/Home/Index">
                            <img src="../images/estilos_eb/boton__busqueda_panel.png" width="272" height="281" /></a>
                    </div>
                </td>
            </tr>
        </table>



    </div>
</div>
